.jumbotron {
  padding-top: 6rem;
  background-color: rgb(217, 217, 255);
}

#projects {
  background-color: rgb(217, 217, 255);
}

section {
  padding-top: 5rem;
  transition: ease-out;
}

.card {
  transition: 4s;
}

.card:hover {
  transform: rotateY(360deg);
}

.material-icons.orange600 {
  color: #ffffff;
}
